<form action="" method="POST" id="payment-form" (submit)="getToken()">
  <span class="payment-message">{{message}}</span>
  <label>
    <span>Name</span>
    <input name="cardholder-name" class="field" placeholder="Jane Doe" name="name" [(ngModel)]="model.name" />
  </label>
  <label>
    <span>Phone</span>
    <input class="field" placeholder="(123) 456-7890" type="tel" name="phone" [(ngModel)]="model.phone"/>
  </label>
  <label>
    <span>ZIP code</span>
    <input name="address-zip" class="field" placeholder="94110" name="zip" [(ngModel)]="model.zip"/>
  </label>
  <label>
    <span>Card</span>
    <div id="card-element" class="field"></div>
  </label>
  <button type="submit">Pay $25</button>
  <div class="outcome">
    <div class="error" role="alert"></div>
    <div class="success">
      Success! Your Stripe token is <span class="token"></span>
    </div>
  </div>
</form>
