.blog-meta.clearfix {
  width: 100%;
  height: 0px !important;
  /*background: #000;*/
  border: 2px solid #eceff2;
}
.dashboard {
  /*margin: 25px;*/
  border: 1px solid;
  border-radius: 4px;
  background: linear-gradient(to left, rgb(43, 68, 109) 0%,rgb(125, 149, 175) 100%);
  padding: 10px;
}
.dashboard-profile {
  border: 1px solid #fd7e55;
  margin-top: 0px;
  background: #Fd7e55;
}

.dashboard-profile h4 {
  color: rgb(240, 240, 255 );
  /*font-size: 15px;*/
  font-size: 17px;
  padding: 5px 30px;
}
.profile{
  padding: 1px;
  text-decoration: none;
  background: #fff;
  /*height: 445px;*/
}
.profile ul{
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid;
  /* margin-left: -20px; */
}

/*.profile-menu li{
  margin-left: 15px;
}
*/
.profile-menu a {
  color:#908f8d;
}

.discover_cards{
  padding: 20px;
  background: rgba(174, 174, 174, 0.06);
}
.discover_match {
  margin-top: 20px;
  float: right;
}
.user_match .content p{
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
.section-match {
  padding: 40px;
}
.user_match .header h1{
  outline: 0px none;
  font-size: 49px;
  font-family: lucida;
}
.user_match img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}
.img.img.discoverCards {
  margin-left: 0px;
  border-radius: 50px;
  border: 10px solid #fff;
}
.user_match .form-title {
  padding: 23px 0px 0px 0px;
}
/**************************************************************************************************************************/
                        /*chat*/
/**************************************************************************************************************************/
.people {
  margin-left: -1px;
  border-right: 1px solid $light;
  border-left: 1px solid $light;
  width: calc(100% + 2px);
}
.person {
  position: relative;
  width: 100%;
  /*padding: 12px 10% 16px;*/
  cursor: pointer;
  background-color: $white;
}
.person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: $light;
  transform: translate(-50%, 0);
}
.person img {
  /*float: left;*/
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}
.name {
  font-size: 17px;
  line-height: 22px;
  color: $dark;
@include font-bold;
}
.time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: $grey;
  background-color: $white;
}
.preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $grey;
}
.preview:active:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: $blue;
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}
span {
  color: $white;
  background: transparent;
}
span:after {
  display: none;
}


/**************************************************************************************************************************/
/**************************************************************************************************************************/

/*[role="button"],*/
/*input[type="submit"],*/
/*input[type="reset"],*/
/*input[type="button"],*/
/*button {*/
  /*-webkit-box-sizing: content-box;*/
  /*-moz-box-sizing: content-box;*/
  /*box-sizing: content-box;*/
/*}*/

/*!* Reset `button` and button-style `input` default styles *!*/
/*input[type="submit"],*/
/*input[type="reset"],*/
/*input[type="button"],*/
/*button {*/
  /*background: none;*/
  /*border: 0;*/
  /*color: inherit;*/
  /*!* cursor: default; *!*/
  /*font: inherit;*/
  /*line-height: normal;*/
  /*overflow: visible;*/
  /*padding: 0;*/
  /*-webkit-appearance: button; !* for input *!*/
  /*-webkit-user-select: none; !* for button *!*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
/*}*/
/*input::-moz-focus-inner,*/
/*button::-moz-focus-inner {*/
  /*border: 0;*/
  /*padding: 0;*/
/*}*/

/* Make `a` like a button */
/*[role="button"] {*/
  /*color: inherit;*/
  /*cursor: default;*/
  /*display: inline-block;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*white-space: pre;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
/*}*/


 /*Demo*/
/*[role="button"],*/
/*input[type="submit"],*/
/*input[type="reset"],*/
/*input[type="button"],*/
/*button {*/
  /*background-color: #f0f0f0;*/
  /*border: 1px solid rgb(0, 0, 0);*/
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  /*border-radius: 0.25em;*/
  /*height: 2.5em;*/
  /*line-height: 2.5;*/
  /*margin: 0.25em;*/
  /*padding: 0 1em;*/
  /*width: 14em;*/
/*}*/

/*html, body {*/
  /*margin: 0;*/
  /*height: 100%;*/
  /*overflow: hidden;*/
/*}*/

/*.footer {*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*position: absolute;*/
  /*bottom: 20px;*/
/*}*/

/*.left-panel {*/
  /*float:left;*/
  /*height:100%;*/
  /*width:100%;*/
  /*max-width:400px;*/
/*}*/

/*.right-panel {*/
  /*float:left;*/
  /*height:100%;*/
  /*width:400px;*/
  /*overflow: auto;*/
/*}*/

/*.card-container {*/
  /*margin:auto;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*height:80%;*/
  /*width:80%;*/
  /*margin:10px auto;*/
/*}*/

/*sc-card {*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*max-height: 400px;*/
  /*max-width: 400px;*/
/*}*/

/*.card-header span {*/
  /*position:absolute;*/
  /*top:5px;*/
  /*left:5px;*/
  /*width:30px;*/
  /*height:30px;*/
  /*text-align: center;*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
  /*border-radius: 15px;*/
  /*background-color: #E1E1E1;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
/*}*/

/*.card-content {*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*height: 100%;*/

/*}*/

/*.card-content img {*/
  /*max-width:90%;*/
  /*max-height:90%;*/
/*}*/

/*.buttons {*/
  /*width:100%;*/
  /*margin-top: 30px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: row;;*/
/*}*/

/*.buttons button {*/
  /*background-color: #E1E1E1;*/
  /*max-width:160px;*/
  /*width:50%;*/
/*}*/

/*.log-container {*/
  /*margin:auto;*/
  /*width:96%;*/
  /*height:15%;*/
  /*border: 1px solid black;*/
  /*overflow-y: scroll;*/
/*}*/

/*.log-container span {*/
  /*display:block;*/
  /*width:100%;*/
/*}*/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

